<div class="grid">
    <div class="col-6">
        <p-panel header="{{soruceLabel}}">
            <p-skeleton  height="4rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton  height="4rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton  height="4rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton  height="4rem" styleClass="mb-2"></p-skeleton>
        </p-panel>
    </div>
    <div class="col-6">
        <p-panel header="{{targetLabel}}">

            <p-skeleton  height="4rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton  height="4rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton  height="4rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton  height="4rem" styleClass="mb-2"></p-skeleton>
        </p-panel>
    </div>
</div>


